<div class="container-fluid">
  <div class="row header text-center">
    <div class="col-12 heading1 text-left searchdiv_lg"><b>Gutenberg Project</b></div>
    <div class="col-12 sub_heading text-left searchdiv_lg"><b> A social cataloging website that allows you to
        freely search its database of books,
        annotations, and reviews.</b></div>
  </div>
  <div class="container">
    <div class="row pb-4 pt-3">
      <div class="col-md-1  card_mb"></div>
      <div class="col-md-4 card sub_heading" (click)="getBooks('Fiction')">
        <img src="../../assets/img/Fiction.svg" class="card_img">
        <b class="pl-2">FICTION</b>
        <img src="../../assets/img/Next.svg" class="next">
      </div>
      <div class="col-md-1  card_mb"></div>
      <div class="col-md-4 card sub_heading" (click)="getBooks('Philosophy')">
        <img src="../../assets/img/Philosophy.svg" class="card_img">
        <b class="pl-2">PHILOSOPHY</b>
        <img src="../../assets/img/Next.svg" class="next">
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-md-1"></div>
      <div class="col-md-4 card sub_heading" (click)="getBooks('Drama')">
        <img src="../../assets/img/Drama.svg" class="card_img">
        <b class="pl-2">DRAMA</b>
        <img src="../../assets/img/Next.svg" class="next">
      </div>
      <div class="col-md-1 card_mb"></div>
      <div class="col-md-4 card sub_heading" (click)="getBooks('History')">
        <img src="../../assets/img/History.svg" class="card_img">
        <b class="pl-2">HISTORY</b>
        <img src="../../assets/img/Next.svg" class="next">
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-md-1"></div>
      <div class="col-md-4 card sub_heading" (click)="getBooks('Humour')">
        <img src="../../assets/img/Humour.svg" class="card_img">
        <b class="pl-2">HUMOUR</b>
        <img src="../../assets/img/Next.svg" class="next">
      </div>
      <div class="col-md-1 card_mb"></div>
      <div class="col-md-4 card sub_heading" (click)="getBooks('Adventure')">
        <img src="../../assets/img/Adventure.svg" class="card_img">
        <b class="pl-2">ADVENTURE</b>
        <img src="../../assets/img/Next.svg" class="next">
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-md-1"></div>
      <div class="col-md-4 card sub_heading" (click)="getBooks('Politics')">
        <img src="../../assets/img/Politics.svg" class="card_img">
        <b class="pl-2">POLITICS</b>
        <img src="../../assets/img/Next.svg" class="next">
      </div>
    </div>
  </div>
</div>