/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Montserrat;
  src: url("/assets/font/Montserrat-SemiBold.ttf");
  src:url("/assets/font/Montserrat-Regular.ttf");
}

$pl-18:18%;
$pl-10:10px;
$ht-50:50px;
$ft-16:16px;
$ft-48:48px;
$pd-3:3%;

.heading1{
  font-family: Montserrat, Semi Bold;
  color:#5E56E7;
  font-size: $ft-48;
}
.header{
  background: url('assets/img/Pattern.svg');
  padding: $pd-3;
}
body{
  background-color: #F0F0F6 !important;
}
.sub_heading{
  font-family: Montserrat, Regular;
  font-size: $ft-16;
}
.card{
  border-radius: 4px;
  padding-left: $pl-10;
  padding-right : $pl-10;
  height: $ht-50;
  box-shadow: 0 2px 5px 0 #A0A0A0 !important;
  display: inline !important;
  padding: $pl-10;
}
.card_img{
  height: 30px;
}
.next{
  float: right;
  padding: 5px;
}
.pl-18{
  padding-left: $pl-18 !important;
}
.category{
  background-color: white;
}
.genre{
  font-family: Montserrat, Semi Bold;
  color:#5E56E7;
  font-size: 30px;
}
.searchbox{
  border-radius: 4px;
  border-color: transparent;
  padding-left: 35px;
  padding-right: 10px;
  height: 40px;
  width: 100%;
  background-color: #F0F0F6;
  border: #F0F0F6;
  background-image: url("assets/img/Search.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px;
  text-align: left;
  background-position-x: 10px;
  font-weight: 500;
  color: #A0A0A0;
}
.rectangle {
  width: 114px;
  height: 162px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
 }

 .bookName{
   font-family: Montserrat, Regular;
   font-size: 12px;
 }
 .bookAuthor{
  font-family: Montserrat, Regular;
  font-size: 12px;
  color: #A0A0A0;
 }

 input:active,input:focus {
  border:#5E56E7 1px solid;
  outline: none;
  caret-color:#5E56E7;
}
 @media only screen and (max-width: 1600px) and (min-width: 650px) {
  .searchbox_lg {
    width: 77% !important;
  }
  .searchdiv_lg{
    padding-left: $pl-18 !important;
  }
  .pr-18{
    padding-right: $pl-18;
  }
  .pt-4{
    padding-top: 4%;
  }
  .pb-2{
    padding-top: 2%;
  }
  .card_lg{
    padding-left: $pl-18;
  }
 }
  @media screen and (max-width: 640px) and (min-width: 360px){
    .card_mb{
      padding:3% !important;
    }
  }
